* {
  margin: 0px;
  /* seletor universal */
}

html,
body {
  --black: hsl(240, 6%, 13%);
  --grey: hsl(240, 9%, 89%);

  height: 100vh;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
  background: rgb(218, 214, 214);
}

.faixa {
  display: none;
}

main {
  background: url(images/Mobile1.svg) no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  color: var(--grey);
}

.container {
  max-width: 250px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.avatar {
  width: 10rem;
  margin: 11.5rem auto 0;
  position: relative;
}

.avatar span {
  position: absolute;
  top: -15px;
  left: -25px;
  z-index: 1;
}

.avatar > img {
  width: 10rem;
  height: 11.5rem;
  object-fit: cover;

  clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
}

h1 {
  font-size: 1.5rem;

  margin-top: 1.5rem;
}

a {
  color: var(--grey);
  text-decoration: none;

  margin-top: 0.25rem;

  display: flex;
  gap: 0.75rem;

  justify-content: center;
}

p {
  margin-top: 2rem;
  text-align: match-parent;
}

.linkedinImg,
.facebookImg,
.instagramImg,
.twitterImg {
  border-radius: 10px;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;

  display: flex;
  gap: 0.5rem;

  justify-content: center;
}

h1 {
  font-size: 1.5rem;
}

@media (min-width: 960px) {
  body {
    background-image: linear-gradient(
      to right bottom,
      #2073f0,
      #006cc4,
      #005b8d,
      #004657,
      #002f2f,
      #033630,
      #0b3d30,
      #18432f,
      #166c45,
      #0d985b,
      #00c56f,
      #05f582
    );
  }

  main {
    height: 540px;
    width: 358px;
    -webkit-box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.35);
    box-shadow: 3px 3px 10px 5px rgba(0, 0, 0, 0.35);
    border-radius: 1rem;
    place-self: start center;
    position: relative;
    margin-top: 8rem;
  }

  .faixa {
    display: block;
    height: 10.25rem;
    position: fixed;
    z-index: 1;
    top: 5rem;
    left: 50%;
    transform: translate(-50%, -50%); /*centralizando imagem*/
  }

  .avatar {
    margin-top: 38%;
  }

  p {
    margin-top: 1.5rem;
  }

  ul {
    margin-top: 1.5rem;
  }
}
